<h1>Pets for Adoption</h1>
<table id="pet_list">
  <thead>
  <tr>
    <th>Pet Type</th>
    <th>Name</th>
    <th>Age</th>
    <th>Description</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody id="the_pets">
    <%= render(@pets) %>
  </tbody>
</table>

