// Place all the styles related to the Shelter controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#side {
  float: left;
  padding: 1em 2em;
  width: 13.5em;
  background: #243C77;
}
#main {
  padding-left: 1em;
  float: left;
}

#cart {
  font-size: smaller;
  color: #ffffff;

  table {
    border-top: 1px dotted #9CBDC3;
    border-bottom: 1px dotted #9CBDC3;
    margin-bottom: 10px;
  }
}

/* sticky footer css*/
html, body {margin:0;	padding:0;	height:100%;}
#wrap {display:table;width:100%;height:100%}
/* height 1px on the header and footer is the sticky footer technique */
header, footer{height:1px}
header, footer, columns { display:block}/* ie7 and under */
header, footer, columns { display:table-row }