<p id="notice"><%= notice %></p>

<h2>Selected Pets</h2>
<ul>
  <% @cart.selected_pets.each do |item| %>
    <li><%= item.pet.name %></li>
  <% end %>
</ul>

<%= button_to 'Empty cart', @cart, method: :delete, data: { confirm: 'Are you sure?' } %>