<h2>Selected Pets</h2>
<table>
  <%= render(cart.selected_pets) %>

</table>

<% unless cart.selected_pets.empty? %>
    <%= button_to 'Empty cart', cart, method: :delete %>
    <% unless @adopting %>
        <%= button_to 'Adopt now', shelter_adopt_path %>
    <% end %>
<% end %>